<%# 月間サマリーグラフ %>
<div id="bymonth">

  <div class="row">
    <% for m in [4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3] do %>
    <div class="col-xs-1 nopadding">
      <div class="outer">
        <div class="vertical_bottom">
          <span class="hour"><%= sprintf("%g", @vacationHourOfMonth[m]) if @vacationHourOfMonth[m] > 0 %></span>
          <p class="inner" style="background: linear-gradient(#79bfff 0%, #87bdff 100%); margin: 0 auto 0 auto; width: 80%;" data-hour="<%= @vacationHourOfMonth[m] %>"></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="row">
    <% for m in [4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3] do %>
    <% targetmonth = Date::new(@paid_vacation.year + (4 <= m ? 0 : 1), m , 1) %>
    <% thismonth = Date::new(Date.today.year, Date.today.month, 1) %>
    <div class="col-xs-1 nopadding <%= "past" if targetmonth < thismonth %>"><%= m %></div>
    <% end %>
  </div>

</div>
<script type="text/javascript">
  // グラフを4月から順にアニメーション表示する
  bymonth.initHeight(<%= @vacationHourOfMonth.max %>);
  bymonth.showMonth(<%= @vacationHourOfMonth.max %>);

  // $(document).ready(function(){

    // // グラフを4月から順にアニメーション表示する
    // var monthAnimate = function() {
    //   var hourMax = <%= @vacationHourOfMonth.max %>;
    //   var m = -1;
    //   $('#bymonth .inner').each(function(i) {
    //     var hour = $(this).data('hour');
    //     if (hour > 0) {
    //       m++;
    //       $(this).delay(120 * m).animate ({
    //         height: (((hour / hourMax) * 40)) + "px"
    //       }, 1000, "easeInOutBack");
    //       // 数値はグラフよりも少し遅れて表示させる
    //       $(this).prev('.hour').delay((120 * m) + 700).fadeIn(350);
    //     }
    //   });
    // };

    // // ロード時にグラフ表示を実行する
    // monthAnimate();

    // // 一定周期でグラフ表示のアニメーションを繰り返す
    // var repeatMonthAnimate = setInterval(function() {
    //   $('#bymonth .inner').each(function(i) {
    //     if ($(this).data('hour') > 0) {
    //       $(this).delay(120 * i).animate ({
    //         height: "+=10px"
    //       }, 400, "easeInOutQuad", function() {

    //         $(this).prev('.hour').animate ({
    //           height: "+=2px"
    //         }, 400, "easeInOutQuad", function() {
    //           $(this).animate ({
    //             height: "-=5px"
    //           }, 300, "easeInOutQuad", function() {
    //             $(this).css ({
    //               height: "+=3px"
    //             });
    //           });
    //         });

    //         $(this).animate ({
    //           height: "-=10px"
    //         }, 1000, "easeInOutCirc");
    //       });

    //     }
    //   });
    // }, 10000); // 繰り返し秒数

  // });
</script>
