<%# 消化有休リスト %>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped table-hover">
      <% youbi = %w[日 月 火 水 木 金 土] %>
      <% month = 0 %>
      <% vacation_hours_sum = 0 %>
      <% @vacations.each do |vacation| %>
      <tr>
        <!-- 月/日 曜日 -->
        <td>
        <% m = vacation.start_datetime.strftime("%m").to_i %>
        <% startdate = Date::new(vacation.start_datetime.year, vacation.start_datetime.month, vacation.start_datetime.day) %>
        <% today = Date.today %>

          <div class="<%= "past" if startdate < today %>" style="white-space: nowrap;">
            <div class="vacation month">
              <% if month != vacation.start_datetime.strftime("%m").to_i %>
                <% month = vacation.start_datetime.strftime("%m").to_i %>
                <%= month %> /
              <% else %>

              <% end %>
            </div>
            <div class="vacation date">
              <strong><%= vacation.start_datetime.strftime("%d").to_i %></strong>
            </div>
            <div class="vacation weekday">
              <%= youbi[vacation.start_datetime.wday] + "" %>
            </div>
          </div>
        </td>
        <!-- 消化時間 -->
        <td style="vertical-align: middle; white-space: nowrap;">
          <%= vacation.hours %>&nbsp;&nbsp;
          <!--　消化時間累計 -->
          <% vacation_hours_sum += vacation.hours %>
          <div class="vacation hours_sum"><%= @vacation_hours_total - vacation_hours_sum + vacation.hours %></div>
        </td>
        <!-- 時刻 -->
        <td style="vertical-align: middle;">
          <div class="hidden-xs" style="white-space: nowrap;">
            <div class="vacation hour">
              <%= vacation.start_datetime.strftime("%H").to_i %>
            </div><%= vacation.start_datetime.strftime(":%M") %>
              -
            <div class="vacation hour">
              <%= vacation.end_datetime.strftime("%H").to_i %>
            </div><%= vacation.end_datetime.strftime(":%M") %>
          </div>
        </td>
        <!-- メモ -->
        <td style="vertical-align: middle;">
          <div class="vacation memo">
            <%= vacation.memo %>
          </div>
        </td>
        <!-- 確定 -->
        <td style="vertical-align: middle;">
          <div class="hidden-xs">
            <% if vacation.fixed %>
              <span class="glyphicon glyphicon-pushpin"></span>
            <% end %>
          </div>
        </td>
        <!-- 編集ボタン -->
        <td class="text-right">
          <a href="<%= edit_vacation_path(vacation.id.to_s) %>" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
