<ons-navigator var="myNavigator">
<ons-page ng-controller="DashboardController">
  <ons-toolbar>
    <div class="center"><%= @user.id %> - <%= @paid_vacation.year %><small>年度</small></div>
    <div class="right">
      <ons-toolbar-button ng-click="addNewVacation(<%= @user.id %>)"><ons-icon icon="fa-plus" size="28px"></ons-icon></ons-toolbar-button>
    </div>
  </ons-toolbar>
  <ons-list>

<!--
    <% month = 0 %>

    <% @vacations.each do |vacation| %>

    <% if month != vacation.start_datetime.strftime("%m").to_i %>
      <% month = vacation.start_datetime.strftime("%m").to_i %>
      <ons-list-header><%= month %><small>月</small></ons-list-header>
    <% end %>
 
    <ons-list-item modifier="chevron" ng-click="showDetail('<%= edit_vacation_path(vacation.id.to_s) %>')">
        <%= vacation.start_datetime %>
    </ons-list-item>
    <% end %>
-->

  <ons-list-item modifier="chevron" ng-click="showDetail(vacation.id)" ng-repeat="vacation in vacations">
    {{vacation.id}} - {{vacation.start_datetime}}
  </ons-list-item>

  </ons-list>
</ons-page>
</ons-navigator>
