<ons-navigator var="myNavigator">
<ons-page ng-controller="DashboardController">
  <ons-toolbar>
    <div class="center"><%= @user.id %> - <%= @year %><small>年度</small></div>
    <div class="right">
      <ons-toolbar-button ng-click="addNewVacation()"><ons-icon icon="fa-plus" size="28px"></ons-icon></ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-list>

<div class="_row">
  <div id="dashboard" class="col-xs-12">

    <div id="flick">
      <div id="flick-body">
        <ul>
  
        <!-- ページ数はdashboard.css.scssの$pagesで指定
          ページ数は偶数にすること。奇数ページだと１ページあたりのwidth計算で端数がでるためうまくいかない -->
  
        <!-- 1ページ -->
        <li>
          <%= render 'remain' %>
        </li>
  
        <!-- 2ページ -->
        <li>
          <%= render 'detail' %>
        </li>
  
        </ul>
  
      </div><!-- flick -->
  
      <!-- ページインジケーター -->
      <div id="indicator"><%= image_tag "indicator.png", :size => "13x5", :alt => "" %></div>
    </div>
  </div>
</div>

<!-- 月間サマリーグラフ -->
<%= render 'bymonth' %>
<br />

  <ons-list-item modifier="chevron" ng-click="editVacation(vacation.id)" ng-repeat="vacation in vacations">
    <div class="col-xs-4"><span class="vacation month">{{vacation.mm}} / </span><span class="vacation date"><strong>{{vacation.dd}}</strong></span> <span class="vacation weekday">{{vacation.weekday}}</span></div>
    <div class="col-xs-2">{{vacation.hours | number:1}}</div>
    <div class="col-xs-6">{{vacation.memo}}</div>
  </ons-list-item>

  </ons-list>
</ons-page>
</ons-navigator>
