<div class="row">
  <div id="dashboard" class="col-xs-12">
    
    <% if @paid_vacation != nil then %>
    <h4>&nbsp;&nbsp;<%= @paid_vacation.year %><small>年度</small></h4><br/>

    <div id="flick">
      <ul>
      
      <!-- ページ数はdashboard.css.scssの$pagesで指定
        ページ数は偶数にすること。奇数ページだと１ページあたりのwidth計算で端数がでるためうまくいかない -->
      
      <!-- 1ページ -->
      <li>
        <%= render 'remain' %>
      </li>
    
      <!-- 2ページ -->
      <li>
        <%= render 'detail' %>
      </li>
    
      </ul>

    </div><!-- flick -->
   <% end %>

    <!-- ページインジケーター -->
    <div id="indicator"><%= image_tag "indicator.png", :size => "13x5", :alt => "" %></div>

  </div>
</div>



<!-- フリック動作用JavaScript -->
<script type="text/javascript">
(function(){
	var fl = $('#flick');
	var indelm = $('#indicator');
	var indimg = indelm.find('img');

	fl.flickSimple({
		snap: 'first',
		onResize: function() {
			// update indicator
			indelm.css( { width: (this.pageLength * 13) + 'px' } );
		},
		onChange: function() {
			// move indicator
			var pos = (this.page -1) * 13;
			if ( this.android || ! this.webkit ) {
				indimg.css( { left: pos +'px' } );
			} else {
				indimg.css( { webkitTransform:'translate3d('+ pos +'px,0,0)' } );
			}
		},
		onClick: function(elm) {
			elm.fadeOut('fast').fadeIn('fast').fadeOut('fast').fadeIn('fast');
		}
	});

})();
</script>


<!-- 月間サマリーグラフ -->
<%= render 'bymonth' %>
<br />


<div class="row">
  <div class="col-xs-12">

    <!-- 追加ボタン -->
    <div class="row">
      <div class="col-xs-4 col-xs-offset-8 text-right">
        <a href="<%= new_vacation_path + "?user_id=" + @user.id.to_s + "&callback_url=" + request.original_url%>" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"</span></a><br />
        <br />
      </div>
    </div>
    
    <!-- 消化有休リスト -->
    <%= render 'list' %>

  </div>
</div>
