<h1>Dashboard#show</h1>
<p>Find me in app/views/dashboard/show.html.erb</p>

<div class="row">
  <div class="col-xs-12 jumbotron">
    <% if @paid_vacation != nil then %>

    <h4><%= @paid_vacation.year %><small>年度</small></h4><br/>
    <h4 class="text-center">のこり</h4>
    <h1 class="text-center"><strong>
    <%= (@paid_vacation.hours + @paid_vacation.carryover_hours - @total_hours) / 8 %><small>日</small></strong>
    </h1>
    <h5 class="text-center">
    <%= @paid_vacation.hours + @paid_vacation.carryover_hours - @total_hours %><small>時間</small>
    </h1>
    <br/>
    <br/>
    <div class="progress">
      <% percent = (@total_hours / (@paid_vacation.hours + @paid_vacation.carryover_hours)) * 100 %>
      <div class="progress-bar" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%;">
        <%= @total_hours / 8 %><small>日</small>
      </div>
    </div>  
    
    <% end %>
  </div>
</div>

<!-- 追加ボタン -->
<div class="row">
  <div class="col-xs-2 col-xs-offset-10 text-right">
    <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-plus"</span></a><br />
    <br />
  </div>
</div>

<!-- 有休消化リスト -->
<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped table-hover">
      <% youbi = %w[日 月 火 水 木 金 土] %>
      <% @vacations.each do |vacation| %>
      <tr>
        <td><%= vacation.start_datetime.strftime("%m/%d(") + youbi[vacation.start_datetime.wday] + ")" %></td>
        <td><%= vacation.start_datetime.strftime("%H:%M") + " - " + vacation.end_datetime.strftime("%H:%M") %></td>
        <td><%= vacation.hours %></td>
        <td><%= vacation.memo %></td>
        <td><%= vacation.fixed %></td>
        <td><a href="#"><span class="glyphicon glyphicon-cog"></span></a></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <br/>
    <br/>
    <br/>
  </div>    
  
  <div class="col-xs-12">
    <%= @user.id %>
    <%= @user.name %>
    <%= @user.email %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <% if @paid_vacation != nil then %>
    <%= @paid_vacation.year %>年度<br/>
    支給:<%= @paid_vacation.hours %>h<br/>
    繰り越し:<%= @paid_vacation.carryover_hours %>h<br/>
    合計:<%= @paid_vacation.hours + @paid_vacation.carryover_hours %>h<br/>
    <br/>
    消化:<%= @total_hours %>h<br/>
    残り:<%= @paid_vacation.hours + @paid_vacation.carryover_hours - @total_hours %>h (<%= (@paid_vacation.hours + @paid_vacation.carryover_hours - @total_hours) / 8 %>d)
    <br/>
    <% end %>
  </div>    
</div>