<h1>Dashboard#show</h1>
<p>Find me in app/views/dashboard/show.html.erb</p>

<div class="row">
  <div class="col-xs-12">
    <%= @user.user_id %>
    <%= @user.name %>
    <%= @user.email %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <% if @paid_vacation != nil then %>
    <%= @paid_vacation.year %>年度<br/>
    支給:<%= @paid_vacation.hours %>h<br/>
    繰り越し:<%= @paid_vacation.carryover_hours %>h<br/>
    合計:<%= @paid_vacation.hours + @paid_vacation.carryover_hours %>h<br/>
    <br/>
    消化:<%= @hours %>h<br/>
    残り:<%= @paid_vacation.hours + @paid_vacation.carryover_hours - @hours %>h (<%= (@paid_vacation.hours + @paid_vacation.carryover_hours - @hours) / 8 %>d)
    <% end %>
  </div>
</div>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>user</th>
          <th>start</th>
          <th>end</th>
          <th>memo</th>
          <th>fixed</th>
        </tr>
      </thead>
      <% @vacations.each do |vacation| %>
      <tr>
        <td><%= vacation.user_id %></td>
        <td><%= vacation.start_datetime %></td>
        <td><%= vacation.end_datetime %></td>
        <td><%= vacation.memo %></td>
        <td><%= vacation.fixed %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>