<!-- のこり表示 -->
<div class="row">
  <div class="col-xs-12 jumbotron">
  <% if @paid_vacation != nil then %>
    <% paid_vacation_total_hours = @paid_vacation.hours + @paid_vacation.carryover_hours %>

    <h4><%= @paid_vacation.year %><small>年度</small></h4><br/>

    <!-- のこり日数(時間を日数に換算) -->
    <h4 class="text-center">のこり</h4>
    <h1 class="text-center">
      &nbsp;&nbsp;<strong><%= ((paid_vacation_total_hours - @vacation_total_hours) / 8).to_i %></strong><small>日</small>
    </h1>
    
    <!-- のこり時間 -->
    <h5 class="text-center">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= paid_vacation_total_hours - @vacation_total_hours %><small>時間</small>
    </h5>
    <br/>
    <br/>

    <!-- プログレスバー -->
    <div class="row">
      <dir class="col-xs-11 col-sm-11" style="padding-right: 0">
      
        <div class="progress">
          <!-- 消化率 -->
          <% percent = (@vacation_total_hours / paid_vacation_total_hours) * 100 %>
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%;">
            <!-- 消化日数表示 -->
            <%= (@vacation_total_hours / 8).ceil %><small>日</small>
          </div>
        </div>
      </dir>
      <dir class="col-xs-1 col-sm-1" style="padding-left: 2">
        <!-- 支給日数表示 -->
        <nobr><%= (paid_vacation_total_hours / 8).to_i %><small>日</small></nobr>
      </dir>
    </div>
    
  <% end %>
  </div>
</div>

<!-- 追加ボタン -->
<div class="row">
  <div class="col-xs-2 col-xs-offset-10 text-right">
    <a href="<%= new_vacation_path + "?user_id=" + @user.id.to_s + "&callback_url=" + request.original_url%>" class="btn btn-primary"><span class="glyphicon glyphicon-plus"</span></a><br />
    <br />
  </div>
</div>

<!-- 消化有休リスト -->
<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped table-hover">
      <% youbi = %w[日 月 火 水 木 金 土] %>
      <% @vacations.each do |vacation| %>
      <tr>
        <td>
          <!-- 月/日 曜日 -->
          <div style="white-space: nowrap;">
            <div class="vacation month">
              <%= vacation.start_datetime.strftime("%m").to_i %> /
            </div>
            <div class="vacation date">
              <strong><%= vacation.start_datetime.strftime("%d").to_i %></strong>
            </div>
            <div class="vacation weekday">
              <%= youbi[vacation.start_datetime.wday] + "" %>
            </div>
          </div>
        </td>
        <td>
         <!-- 時刻 -->
          <div style="white-space: nowrap;">
            <div class="vacation hour">
              <%= vacation.start_datetime.strftime("%H").to_i %>
            </div><%= vacation.start_datetime.strftime(":%M") %>
              -
            <div class="vacation hour">
              <%= vacation.end_datetime.strftime("%H").to_i %>
            </div><%= vacation.end_datetime.strftime(":%M") %>
          </div>
        </td>
        <td><%= vacation.hours %></td>
        <td>
          <div class="vacation memo">
            <%= vacation.memo %>
          </div>
        </td>
        <td>
          <div class="visible-sm-block visible-md-block visible-lg-block">
            <%= vacation.fixed %>
          </div>    
        </td>
        <!-- 編集画面リンク -->
        <td><a href="<%= edit_vacation_path(vacation.id.to_s) + "?callback_url=" + request.original_url%>"><span class="glyphicon glyphicon-cog"></span></a></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <br/>
    <br/>
    <br/>
  </div>    
  
  <div class="col-xs-12">
    <%= @user.id %>
    <%= @user.name %>
    <%= @user.email %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <% if @paid_vacation != nil then %>
    <%= @paid_vacation.year %>年度<br/>
    支給:<%= @paid_vacation.hours %>h<br/>
    繰り越し:<%= @paid_vacation.carryover_hours %>h<br/>
    合計:<%= @paid_vacation.hours + @paid_vacation.carryover_hours %>h<br/>
    <br/>
    消化:<%= @vacation_total_hours %>h<br/>
    残り:<%= @paid_vacation.hours + @paid_vacation.carryover_hours - @vacation_total_hours %>h (<%= (@paid_vacation.hours + @paid_vacation.carryover_hours - @vacation_total_hours) / 8 %>d)
    <br/>
    <% end %>
  </div>    
</div>