<div class="row">
  <div id="year" style="position: fixed; width: 100%; z-index: 99">
    <!-- BETA画像 -->
    <img src="https://dl.dropboxusercontent.com/u/7598940/beta.png" height="46px" width="40px" style="position: fixed;" alt="BETA">
    <!-- 年度 -->
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;<%= @paid_vacation.year %><small>年度</small></h4><br/>
  </div>
  <div id="dashboard" class="col-xs-12">

    <% if @paid_vacation != nil then %>
    <div id="flick">
      <div id="flick-body">
        <ul>
  
        <!-- ページ数はdashboard.css.scssの$pagesで指定
          ページ数は偶数にすること。奇数ページだと１ページあたりのwidth計算で端数がでるためうまくいかない -->
  
        <!-- 1ページ -->
        <li>
          <%= render 'remain' %>
        </li>
  
        <!-- 2ページ -->
        <li>
          <%= render 'detail' %>
        </li>
  
        </ul>
  
      </div><!-- flick -->
     <% end %>
  
      <!-- ページインジケーター -->
      <div id="indicator"><%= image_tag "indicator.png", :size => "13x5", :alt => "" %></div>
    </div>
  </div>
</div>


<!-- 月間サマリーグラフ -->
<%= render 'bymonth' %>
<br />


<div class="row">
  <div class="col-xs-12">

    <!-- 追加ボタン -->
    <div class="row">
      <div class="col-xs-4 col-xs-offset-8 text-right">
        <a href="<%= new_vacation_path(@user.id.to_s) %>" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"</span></a><br />
        <br />
      </div>
    </div>

    <!-- 消化有休リスト -->
    <%= render 'list' %>

  </div>
</div>
