<%= form_for(@vacation, :html => {:role => "form"} ) do |f| %>
  <% if @vacation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vacation.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @vacation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- ユーザー -->
  <div class="form-group">
    <%= f.label :user_id %>
    <p class="form-control-static"><%= @vacation.user_id %>&nbsp;<%= @user.name %></p>
    <%= f.hidden_field :user_id %>
  </div>

  <!-- 日付 -->
  <div class="form-group">
    <%= f.label :start_datetime %>
    <input name="date" type="date" class="form-control" value="<%= @vacation.start_datetime.strftime("%Y-%m-%d") %>" step="1" />
  </div>

  <!-- 開始時刻と終了時刻 -->
  <div class="form-group">
    <label>時刻</label>
    <div class="input-group">
      <div class="input-group-addon">開始</div>
      <input name="start_time" type="time" class="form-control" value="<%= @vacation.start_datetime.strftime("%H:%M") %>" step="180" />
      <div class="input-group-addon">終了</div>
      <input name="end_time" type="time" class="form-control" value="<%= @vacation.end_datetime.strftime("%H:%M") %>" step="180" />
    </div>
  </div>

  <!-- メモ -->
  <div class="form-group">
    <%= f.label :memo %>
    <%= f.text_field :memo, :class => "form-control" %>
  </div>

  <!-- 確定 -->
  <div class="checkbox">
    <label>
      <%= f.check_box :fixed %><%= f.label :fixed %>
    </label>
  </div>

  <input type="hidden" name="callback_url" value="<%= params[:callback_url] %>" />
  
  <br />
  
  <!-- 登録ボタン -->
  <%= f.submit t('submit'), :class => "btn btn-primary btn-block btn-lg"%>

<br>
<% end %>
