<br>

<!-- 日付 -->
<ons-row>
  <ons-col align="right" size="30%"><label>日付</label>&nbsp;&nbsp;</ons-col>
  <ons-col><input class="text-input" id="date" type="date" value="<%= @vacation.start_datetime.strftime("%Y-%m-%d") %>" step="1"></ons-col>
</ons-row>
<br>

<!-- 開始時刻と終了時刻 -->
<ons-row>
  <ons-col align="right" size="30%"><label>時間</label>&nbsp;&nbsp;</ons-col>
  <ons-col><input class="text-input" id="start_time" type="time" value="<%= @vacation.start_datetime.strftime("%H:%M") %>" step="180">　～
  <input class="text-input" id="end_time" type="time" value="<%= @vacation.end_datetime.strftime("%H:%M") %>" step="180"></ons-col>
</ons-row>
<br>

<!-- メモ -->
<ons-row>
  <ons-col align="right" size="30%"><label>メモ</label>&nbsp;&nbsp;</ons-col>
  <ons-col><input class="text-input" id="memo" type="test" value="<%= @vacation.memo %>"></ons-col>
</ons-row>
<br>

<!-- 有給休暇 -->
<ons-row>
  <ons-col align="right" size="30%"><label>有給休暇</label>&nbsp;&nbsp;</ons-col>
  <ons-col><ons-switch var="fixed" <%= @vacation.fixed ? "checked": "" %>></ons-switch></ons-col>
</ons-row>

<br>

<script type="text/javascript">
  $(document).ready(function(){
    // メモのドロップダウンリストイベント
    $("#memo-list > li > a").on("click", function(e) {
      $("#memo").val($(this).text());
      e.preventDefault();
    });
  });
</script>
