<%= form_for(@vacation, :html => {:class => "form-horizontal", :role => "form"} ) do |f| %>
  <% if @vacation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vacation.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @vacation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-sm-12">
  
    <div class="form-group">
      <%= f.label :user_id, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <p class="form-control-static"><%= @vacation.user_id  %></p>
        <%= f.hidden_field :user_id %>
      </div>
    </div>

    <!-- 日付 -->
    <div class="form-group">
      <%= f.label :start_datetime, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
          <input name="date" type="date" class="form-control" value="<%= @vacation.start_datetime.strftime("%Y-%m-%d") %>" step="1" />
      </div>
    </div>

    <!-- 開始時刻と終了時刻 -->
    <div class="form-group">
      <label class="col-sm-2 control-label">時刻</label>
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-addon">開始</div>
          <input name="start_time" type="time" class="form-control" value="<%= @vacation.start_datetime.strftime("%H:%M") %>" step="180" />
          <div class="input-group-addon">終了</div>
          <input name="end_time" type="time" class="form-control" value="<%= @vacation.end_datetime.strftime("%H:%M") %>" step="180" />
        </div>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :memo, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :memo, :class => "form-control" %>
      </div>
    </div>
  
    <div class="col-sm-12">
      <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default <%= 'active' if @vacation.fixed %>">
            <%= f.check_box :fixed %>
            <span class="glyphicon glyphicon-pushpin"></span>&nbsp;確定
          </label>
      </div>
    </div>
  
    <input type="hidden" name="callback_url" value="<%= params[:callback_url] %>" />
    
    <div class="col-sm-12">
      <%= f.submit t('submit'), :class => "btn btn-primary btn-block btn-lg"%>
    </div>
  
  </div>
</div>

<br>
<% end %>
