<h1>Listing Vacation</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>UserID</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacations.each do |vacation| %>
      <tr>
        <td><%= vacation.id %></td>
        <td><%= vacation.user_id %></td>
        <td><%= vacation.start_datetime %></td>
        <td><%= vacation.end_datetime %></td>
        <td><%= link_to 'Show', vacation %></td>
        <td><%= link_to 'Edit', edit_vacation_path(vacation) %></td>
        <td><%= link_to 'Destroy', vacation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vcation', new_vacation_path %>
