<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @vacation.user_id %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <strong>Start:</strong>
  <%= @vacation.start_datetime %>
</p>

<p>
  <strong>End:</strong>
  <%= @vacation.end_datetime %>
</p>

<p>
  <strong>memo:</strong>
  <%= @vacation.memo %>
</p>

<p>
  <strong>fixed:</strong>
  <%= @vacation.fixed %>
</p>

<%= link_to 'Edit', edit_vacation_path(@vacation) %> |
<%= link_to 'Back', vacations_path %>
