<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<br>
<br>

<div id="map_canvas" style="width:100%; height:300px"></div>
<div>
  <input id="address" type="textbox">
  <input type="button" value="Encode" onclick="codeAddress()">
  <span id="latlng"></span>
</div>

<script type="text/javascript"
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCuaq9l9T171z-hXf7-b83-YwMytMANxrA&sensor=false">
</script>
<script type="text/javascript">
  var geocoder;
  var map;
  var marker;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(35.696437, 139.81394899999998);
    document.getElementById("address").value = "錦糸町駅"
    var mapOptions = {
      zoom: 14,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  }

  function codeAddress() {
    // ジオコーディングで住所から緯度経度を取得する
    var address = document.getElementById("address").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        // マップの中央を設定
        map.setCenter(results[0].geometry.location);
        // 古いマーカーを消去
        if (marker != undefined) {
          marker.setMap(null);
        }
        // マーカーを表示
        marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });

        //console.log(results[0].geometry.location);
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
</script>

<script type="text/javascript">
  $(document).ready(function(){
    initialize();
  });
</script>
