<% provide(:title, @user.name) %>
<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>通勤経路:</strong>
  <span id="stationname_home">ちはら台駅</span>　～ <span id="stationname_work">錦糸町駅</span>
  <button id="ekispert">経路検索</button>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<br>
<br>

<!-- Google Map -->
<div id="map_canvas" style="width:100%; height:300px"></div>

<!--
<div>
  from:<input id="address_from" type="textbox">
  <input type="button" value="Encode" onclick="codeAddress()"><br>
  to:<input id="address_to" type="textbox">
  <input type="button" value="Route" onclick="calcRoute()">
</div>
-->

<script type="text/javascript">
  $(document).ready(function(){
    // GoogleMapの初期化
    initializeGoogleMaps();
    // GoogleMap通勤ルート表示
    showRouteGoogleMaps($("#stationname_home").text(), $("#stationname_work").text());

    // 駅すぱーと経路検索ボタン
    $("#ekispert").on("click", function() {
      ekispertSearch($("#stationname_home").text(), $("#stationname_work").text());
    });
  });
</script>

<!-- 駅すぱーとWeb APIで経路検索 -->
<%= javascript_include_tag 'expGuiCourseLight.js?key=HraqZa5yTKCtSyuR' %>
<!--<%= javascript_include_tag 'expGuiStation.js?key=HraqZa5yTKCtSyuR' %>-->

<script type="text/javascript">
  function ekispertSearch(station_from, station_to){
    console.log("ekispertSearch(" + station_from + "　～ " + station_to + ")");

    resultApp = new expGuiCourseLight();
    var searchInterface = resultApp.createSearchInterface();
    searchInterface.setFrom(station_from);
    searchInterface.setTo(station_to);
    searchInterface.setSearchType(resultApp.SEARCHTYPE_DEPARTURE);
    searchInterface.setPlane(false);
    searchInterface.setShinkansen(false);
    searchInterface.setLimitedExpress(false);
    searchInterface.setBus(false);
    resultApp.search(searchInterface, ekispertResult);
  }
  function ekispertResult(isSuccess){
    if(!isSuccess){
      alert("検索できませんでした。");
    }else{
      location.href=resultApp.getResourceURI();
    }
  }
</script>

<!-- Google Map API-->
<script type="text/javascript"
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCuaq9l9T171z-hXf7-b83-YwMytMANxrA&sensor=false">
</script>
<script type="text/javascript">
  var geocoder;
  var directionsDisplay;
  var directionsService = new google.maps.DirectionsService();
  var map;
  var marker;
  // GoogleMapの初期化
  function initializeGoogleMaps() {
    directionsDisplay = new google.maps.DirectionsRenderer();
    geocoder = new google.maps.Geocoder();
//  var latlng = new google.maps.LatLng(35.696437, 139.81394899999998); // 錦糸町

    var mapOptions = {
      zoom: 14,
//    center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    directionsDisplay.setMap(map);
  }

  // 経路表示
  function showRouteGoogleMaps(start, end) {
    var request = {
      origin:start,
      destination:end,
      travelMode: google.maps.TravelMode.DRIVING  // TRANSITは対応していない
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
      }
    });
  }

  // ジオコーディングで住所から緯度経度を取得する
  function codeAddressGoogleMaps() {
    var address = document.getElementById("address_from").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        // マップの中央を設定
        map.setCenter(results[0].geometry.location);
        // 古いマーカーを消去
        if (marker != undefined) {
          marker.setMap(null);
        }
        // マーカーを表示
        marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });

        //console.log(results[0].geometry.location);
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
</script>